* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}


img {
    max-width: 100%;
}


header {
    display: flex;
    width: 100vw;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;

}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    padding-top: 1rem;
    font-size: 3 rem;
    text-shadow: grey;
    margin-top: 1rem;
    padding-bottom: 0.5rem;

}

h2 {
    display: flex;

    justify-content: center;

    text-align: center;
    font-size: 1.4;
    color: black;
    margin-top: 2rem;
    transition: 1s 1s all ease;

}

h2:hover {
    transform: scale(1, 1) translateY(10px);
    color: blue;

}

.foto-portada {
    display: flex;
    width: 90vw;
    margin-top: 2rem;
    margin-left: 1rem;
    box-shadow: 3px 3px 3px 2px black;
    border-radius: 5px 5px 3px;
}

.cartelera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartelerahover {
    transform: scale(1, 1) translateY(10px);
    color: blue;

}

.espectaculo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
    box-shadow: 3px 3px 3px 2px black;
    border-radius: 10px;
    width: 60vw;

    gap: 1.5rem;
    padding: 1rem;
}


.btn-cajita {
    background: black;
    display: flex;
    justify-content: center;

    text-align: center;
    color: white;
    width: 80px;
    border-radius: 5px;
    padding: 0.3rem;
}

.btn-cajita:hover {
    transform: scale(1..1);
    background-color: blue;

}


.teatro {
    display: flex;
    flex-direction: column;
    border: solid 3px black;
    border-radius: 10px;
    padding: 0.5rem;
    justify-content: center;
    gap: 0.5rem;
}

.teatro:hover {
    background-color: grey;
    border: solid 3px blue;
    box-shadow: 3px 3px 3px 2px black;

}


.espectaculo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
    box-shadow: 3px 3px 3px 2px black;
    border-radius: 10px;
    width: 60vw;


    gap: 1.5rem;
    padding: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    color: blue;
}

h3:hover {
    transform: scale(1, 1) translateY(10px);
    color: black;

}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-shadow: 3px 3px 3px 2px black;
    border-radius: 5px;
    gap: 0.5rem;
}
.datos:hover{
    background-color: grey;
    border: solid 3px blue;
    box-shadow: 3px 3px 3px 2px black;

}

.edad {
    display: flex;
    gap: 6rem;

}

.boton {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.3rem;
    border-radius: 6px;
}

.boton:hover {
    background-color: blue;
    color: white;

}
.formulario{
    display:flex;
    margin-top: 2rem;
}
.formulario:hover{
    text-decoration: underline;
    color: blue;
    transform: scale(1.1);
}