* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}


img {
    max-width: 100%;
    border-radius: 1rem;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header {
    display: flex;
    width: 100vw;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;

}

h1 {
    display: flex;
    padding-top: 1rem;
    font-size: 3 rem;
    text-shadow: grey;
    margin-top: 1rem;
    padding-bottom: 0.5rem;

}

/* Carousel */
.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: .4rem;
}



h2 {
    display: flex;

    justify-content: center;

    text-align: center;
    font-size: 1.4;
    color: black;
    margin-top: 2rem;
    transition: 1s 1s all ease;

}

h2:hover {
    transform: scale(1, 1);
    color: rgba(8, 97, 8, 0.726);


}



.cartelera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
    box-shadow: 3px 3px 3px 2px black;
    border-radius: 10px;
    width: 60vw;

    gap: .3rem;
    padding: 1rem;
}


.agregar-show {
    background-color: rgba(12, 75, 12, 0.651);
    display: flex;
    justify-content: center;

    text-align: center;
    color: black;
    width: 90px;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
}

.agregar-show:hover {
    transform: scale(1..1);

}

.espectaculo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
    box-shadow: 3px 3px 3px 2px black;
    border-radius: 10px;
    width: 60vw;


    gap: 1.5rem;
    padding: 1.5rem;
}

.espectaculo2:hover {
    background-color: grey;
}

h3 {
    font-size: 1.4rem;
    color: rgba(0, 128, 0, 0.308);
}

h3:hover {
    transform: scale(1, 1) translateY(10px);
    color: black;

}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-shadow: 3px 3px 3px 2px black;
    border-radius: 5px;
    gap: 0.5rem;
}

.datos:hover {
    background-color: grey;
}



.edad {
    display: flex;
    gap: 6rem;

}

.boton {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.3rem;
    border: 0;
    border-radius: 6px;
    background-color: grey;
    cursor: pointer;
}

.boton:hover {
    background-color: rgba(0, 128, 0, 0.438);
    color: white;

}

.formulario {
    display: flex;
    margin-top: 2rem;
}

.formulario:hover {
    text-decoration: underline;
    color: rgba(0, 128, 0, 0.767);
    transform: scale(1.1);

}